
  <header
    class='ms-welcome__header ms-bgColor-neutralLighter ms-u-fadeIn500'
    [ngClass]="!event ? 'ms-welcome__header--active' : ''"
  >
    <img width='90' height='90' src='../../../assets/logo-filled.png' />
    <h1>BestelBewuster</h1>

    <div *ngIf="!event" class="button-container">
      <div *ngIf="!(isLoggedIn())">
        <button (click)="login()">Azure Login</button>
      </div>
      <div  *ngIf="(isLoggedIn())">
        <button (click)="login()">Maak lunch meeting aan</button>
      </div>
    </div>

  </header>
  <div class="meeting-container" *ngIf="event">

    <div class="datafield">
      <div class="data-label">Organisator</div>
      <div>{{event.organizer.name}}</div>
    </div>

    <div class="datafield">
      <div class="data-label">Datum meeting</div>
      <div>{{ convertedDate }}</div>
    </div>

    <div class="datafield">
      <div class="data-label">Locatie</div>
      <div>{{event.location.caption || 'Onbekend'}}</div>
    </div>

    <div class="divider"></div>

    <div>
      <img src="./images/icons/users.png" class="icon inline-block" alt="users icon" />
      &nbsp;Genodigden
      <span *ngIf="event.attendees.length">({{event.attendees.length}})</span>
    </div>

    <div class="attendee-container">

      <div *ngIf="!event.attendees.length">Geen aanwezigen</div>
      <div *ngIf="event.attendees.length">
        <div *ngFor="let att of event.attendees; let i = index" class="attendee">
          <div class="bold pointer" (click)="updateCollapse(i)">
            <span>{{att.email}}</span>
            <img
              *ngIf="att.orders.length"
              class="plus-icon"
              [ngClass]="(isCollapsed(i)) ? 'plus-icon-active':''"
              src="./images/icons/plus.png"
              alt="plus icon"
            />
          </div>
          <div class="status-icon">
            <img src="{{renderStatus(att.status, 'icon')}}" />
            <span class="title-case">{{renderStatus(att.status, 'translation')}}</span>
          </div>
          <div [ngClass]="(isCollapsed(i)) ? 'collapse-open':'collapse-closed'">
            <div
              *ngIf="att.orders.length"
              class="orders-container"
            >
              <div *ngFor="let order of att.orders">
                <div clas="bold">
                  Bestelling
                  <span class="status-icon"><img src="{{renderStatus(order.status, 'icon')}}" /></span>:
                </div>
                <div *ngFor="let line of order.lines">
                  <div class="order-line-q">• {{line.quantity}}x</div>
                  <span class="italic">{{line.product.caption}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
 </div>
